import { FC } from 'react'

export interface {{componentName}}Props {}

export const {{componentName}}: FC<{{componentName}}Props> = ({}) => {
  return (
    <div>
      {{componentName}}
    </div>
  )
}
